<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <script src="assets/js/todo.js"></script>
</head>
<body>
    <div id="main">
        <div ng-app="todoApp" ng-controller="todoCtrl" id="container">
            <h2>TO-DO APP</h2>
            <form ng-submit="addTodo()">
                <label for="title">Title:</label>
                <input type="text" ng-model="newTodo.title" id="title" autocomplete="off" required>
                <label for="description">Description:</label>
                <input type="text" ng-model="newTodo.description" autocomplete="off" id="description">
                <label for="date">Date:</label>
                <input type="date" ng-model="newTodo.date" id="date">
                <input type="submit" value="Add">
            </form>

            <table>
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>TITLE</th>
                        <th>DESCRIPTION</th>
                        <th>DATE</th>
                        <th>COMPLETED?</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="todos in todoList">
                        <td>{{$index + 1}}.</td>
                        <td>{{todos.title}}</td>
                        <td>{{todos.description}}</td>
                        <td class="date">{{todos.date.day}} - {{todos.date.month + 1}} - {{todos.date.year}}</td>
                        <td><button ng-click="removeTodo(todos)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
